<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap" rel="stylesheet">

<meta name="google-adsense-account" content="ca-pub-3078730047162065">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3078730047162065"
     crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="styles/style.css">
    <title>Age Calculator</title>
</head>
<body>
    <div class="container">
        <h1 class="Task">Age Calculator</h1>
        <form action="/check" method="POST">
            <div class="input-section">
                <label class="request">Enter your Date of Birth:</label>
                <input type="date" id="bod" name="dob" >
                <button onclick=>Calculate</button>
            </div>
            <% if(locals.r) {%>
            <div class="output-section">
                <p>You are <%= locals.age %> years old.</p> 
            </div>
            <% } %>
        </form>
    </div>
</body>
</html>
